.title-modal{
    text-align: center !important;
}

.title-center{
	margin-right: -46px;
	width: 100%;
	align-items: center;
}

.title-center{
	margin-right: -46px;
	width: 100%;
	align-items: center;
}