.content-header{
    display: flex;
    justify-content: space-between;
}
.link{
    color: #007bff;
    cursor: pointer;
}
.link:hover{
    color: #0056b3;
    text-decoration: underline;
}
.flex-row-end{
    display: flex;
    flex-direction: row;
    float: right;
}
.flex-row-end button{
    margin-left: 10px;
}
select:disabled {
    background: #eee
}
.content-body{
    overflow: auto
}