.content-header{
    display: flex;
    justify-content: space-between;
}
.link-table{
    color: #007bff;
    cursor: pointer;
}
.link-table:hover{
    color: #0056b3;
}
.flex-row-end{
    display: flex;
    flex-direction: row;
    float: right;
}
.flex-row-end button{
    margin-left: 10px;
}
/*.content-body{*/
    /*overflow: auto*/
/*}*/
.maxHeight .table-responsive{
    max-height: 300px;
}
.prefix{
    outline: transparent;
}

.danger-text{
    color: #ed5565
}

.info-text{
    color: #23c6c8;
}

.success-text{
    color: #1ab394;
}

.warning-text{
    color: #f7a54a;
}
.modal-90w{
    width: 85%;
    max-width: none!important;
}
.vertical-middle{
    vertical-align : middle!important;
}
.checkmark-expense{
    top:-0.5em;
}