.DS_Store
node_modules
/dist
package-lock.json
hinhanhtostring
# local env files
.env.local
.env.*.local

# log file db
/src/backend/public/logs

/src/backend/public/backups
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# database file
/src/database/data

# docker node
/src/backend/data-source
/src/database/mongo-node

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
src/frontend/package-lock.json
