@import url('https://fonts.googleapis.com/css?family=Podkova');
.security.title {
  color: #286090;
  background: white;
  padding: 10px 50px;
  margin: auto -15px;
}
.content-body-security {
  background-color: #ffffff;
  border-color: #e7eaec;
  -webkit-border-image: none;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0 0;
  padding: 14px 15px 7px;
}

.img-css {
  width: 100%;
  height: 100%;
  text-align: center;
}
.img-css img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.info {
  font-family: 'system-ui';
  font-size: 25px;
  padding: auto 0;
}
.info span {
  color: #178a7c;
  font-weight: 400;
}
.id-back {
  margin-bottom: 15px;
}
.mainScreen-security {
  cursor: pointer;
  color: blue;
}

.id-back span,
.id-back i,
.mainScreen {
  text-decoration: none;
  color: #999c9e;
  font-weight: bold;
  cursor: pointer;
}
.mainScreen {
  padding-right: 30px;
}
.id-back i {
  margin-right: 5px;
}

.item-history {
  display: flex;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  -webkit-box-shadow: 6px 10px 10px -9px rgba(179, 179, 179, 1);
  -moz-box-shadow: 6px 10px 10px -9px rgba(179, 179, 179, 1);
  box-shadow: 6px 10px 10px -9px rgba(179, 179, 179, 1);
}
.item-image {
  max-height: 100px;
  max-width: 85px;
}
.item-image img {
  max-height: 100px;
}
.item-text {
  margin: auto;
  padding-left: 10px;
  font-size: 0.8em;
}
.max-height-history {
  max-height: 500px;
}

.header-security {
  background-color: #ededed;
  border-bottom: 1px solid #dbdbdb !important;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 100%;
}
.security-search {
  position: fixed;
  z-index: 300;
}
.header-security a {
  cursor: pointer;
  text-decoration: none;
  color: #999c9e;
  font-weight: bold;
}
/* .header-security a:not([href]):not([tabindex]) {

} */
.header-security a:hover {
  color: #5d6b77;
}
.logout {
  text-align: center;
  margin-right: 20px;
}
.type-radio-button {
  margin: 0 10px 0 10px;
  display: inline;
}
.type-div {
  width: 50%;
}

.content-body-security .card-large {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  min-height: 87vh;
  border-radius: 2%;
}

.content-body-security .card-large .card-content {
}

.content-body-security .card-large .card-content .card-title {
  border-bottom: 1px solid;
  color: #02488e !important;
  font-size: 35px;
  font-weight: 600;
  padding: 50px 0;
  letter-spacing: 3px;
}

.content-body-security .card-large .card-content .card-body-content {
  padding: 60px 0;
}

.decor-end-line {
  height: 30px;
  width: 100%;
  background-color: #71a59f;
}
