.news-content-detail{
    background-color: #EFEFEF;
    width: 100%;
}

.news-detail{
    background-color: #ffffff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20vh;
    height: fit-content;
    min-height: 100vh
}

.img-background{
    background-image: url("/images/sl2.png") ;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width: 100%;
    min-height: 40vh
}

.tilte{
    font-size: 30px;
    color: #2680EB;
    padding-top: 20px;
}

.news-detail-sub{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.content-detail{
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #707070;
}

.content-detail-time{
    font-size: 17px;
    color: #707070;
    margin-top: 10px;
}

.other-news-head{
    color: #2680EB;
    font-size: 35px;
}

.other-news-content{
    width: 100% !important;
}

.other-news-content-summary{
    font-size: 10px !important;
}

.other-news-content-time{
    font-size: 12px !important;
}