.layout{
    display: flex;
}
body{
    margin: 0;
}

.layout-sub{
    z-index: 200;
    width: 16%;
    background-color: #2f4050;
    height: 100%;
    transition: all 0.5s;
}
.layout-sub-security{
    z-index: 200;
    width: 16%;
    background-color: #2f4050;
    position: fixed;
    height: 100%;
    transition: all 0.5s;
    padding-top:5%;
}
.layout-main{
    position: absolute;
    right: 0;
    width: 84%;
    transition: all 0.5s;
}

@media screen and (min-width: 768px){

    .collapsed span.mb_nav-label{
        display: none;
    }

    .collapsed .layout-sub{
        width: 6%;
    }

    .collapsed .layout-main{
        width: 94%;
    }

    .collapsed .header{
        width: 94%;
    }


}

@media screen and (max-width: 768px) {
    .collapsed .layout-main{
        width: 100%;
    }
    .collapsed .layout-sub{
        display: none;
    }
    span.mb_nav-label{
        display: none;
    }
    .collapsed .header{
        width: 100%;
    }

    .user-name{
        display: none;
    }

    .avt{
        width: 30px;
        height: 30px;
    }
}

.collapsed .user-name{
    display: none;
}

.collapsed .avt{
    width: 50px;
    height: 50px;
}

