.layout{
    display: flex;
}

.layout-sub{
	z-index: 200;
    width: 20%;
	height: 100vh;
	background-color: #2f4050;
	position: fixed;
}

.layout-main{
	position: absolute;
	right: 0;
    width: 80%;
}

body{
    margin: 0;
}