.layout{
    display: flex;
}

.layout-sub{
    width: 18%;
	height: 100vh;
	background-color: #2f4050;
	position: fixed;
}

.layout-main{
	position: absolute;
	right: 0;
    width: 82%;
    height: 1000px;
}

body{
    margin: 0;
}