.logo{
	height: 130px;
	width: 130px;
}

body{
	margin: 0;
	background: #f3f3f4;
}

a{
	text-decoration: none;
	color: #52A9CF;
}

.header-sgin-admin{
	background: white;
	display: flex;
	justify-content: center;
	font-size: 40px;
	color: #52A9CF;
	font-weight: bold;
	text-align: center;
	line-height: 130px;
	height: 130px;
}
.header-sgin-admin span{
  	margin-left: 50px;
}
.lb-tille{
 	font-size: 40px; 
 	font-weight: bold; 
 	margin: 20px; 
 	color: #aaa9a9;
}

@media only screen and (max-width: 500px) {
	.lb-tille{
		font-size: 20px;
	}

  	.logo{
  		margin-left: 10px;
  		height: 70px;
  		width: 70px;
  	}
	.header-sgin-admin{
	  	font-size: 20px;
	  	height: 70px;
	  	line-height: 35px;
	}
	.header-sgin-admin span{
	  	margin-left: 10px;
	}
}