.title-header{
    font-size: 1.6em;
    color: #297488;
    margin-top: 10px;
}

.title-header-line{
    width: 50%;
    margin-bottom: 20px;
    height: 1px;
    background-color: #e7e8ea;
    -webkit-box-shadow: 7px 10px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 23px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 23px -5px rgba(0,0,0,0.75);

}