.header{
    border-bottom: 1px solid #dbdbdb !important;
    overflow: hidden;
    background-color: #ededed;
    padding: 8px 15px;
    position: fixed;
    width: 84%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;
}

.header a{
    text-decoration: none;
    color: #999c9e;
    font-weight: bold;
}
.header a:hover{
    color: #5D6B77;
}

.logout{
    margin-right: 5px;
}