.time-bill{
    margin-top: 30px;
}

.time-bill-header{
    margin-bottom: 10px;
    color: #2680EB;
}

.is-done{
    color: green;
}

.is-dont-done{
    color: red;
}

.sub-list-activity{
    margin-left: 20px;
}