.time-bill{
    /* margin-top: 30px; */
}

.time-bill-header{
    /* margin-top: 20px; */
    margin-bottom: 10px;
    color: #2680EB;
}

.detail{
    color: #007bff;
    cursor: pointer;
}


.detail:hover{
    color: blue;    
    cursor: pointer;
    text-decoration: underline
}


.is-done{
    color: green;
}

.is-dont-done{
    color: red;
}

.sub-list-activity{
    margin-left: 20px;
}

.sub-list-activity:hover{
    background-color: aqua !important;
}