.table-activity{
	margin-top: 15px;
}
.bt-delete{
	cursor: pointer;
	color: #DD4125;
	padding: 5px 10px;
}

.lb-done{
	cursor: pointer;
	padding:5px 5px;
	text-align: center;
	color: #04C913;
}
.bt-edit{
	cursor: pointer;
	padding: 5px 10px;
	color: #0195D7;
}
.bt-edit:hover, .bt-delete:hover{
	background: white;
}