.id-content{
    padding: 5px 15px 15px;
}

.id-floor{
    height: 500px;
    overflow: auto;
    background-color: #f5f5f5;
}

.id-floor_item{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.id-room{
    height: 400px;
    padding: 5px 15px;
    background-color: #f5f5f5;
    overflow: auto;
}

.id-room_item{
    padding: 10px;
    display: inline-block;
    width: 25%;
}

.id-room_item i{
    font-size: 20px;
    padding-right: 5px;
}

.id-room_item button{
    width: 85%;
}

.id-addFloor_text{
    padding: 15px 15px 10px;
    font-weight: bold;
    color: #FF9800;
}

.id-add{
    width: 150px;
    padding: 10px 5px;
}

.id-add button{
    width: 100%;
}

.room-detail {
    border-top: 1px solid #ddd ;
}

.room-gender{
    margin: 15px 0 0;
    color: #f88b62;
}

.note-room-color-item{
    display: inline-block;
    margin-right: 30px;
}

.note-room-color{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 7px;
    background-color: #1c84c6;
}

.people-in-dormitory{
    font-size: 25px;
}

