.btn{
	border-radius: 3px;
	border: none;
	padding: 6px 12px;
	font-size: 14px;
}

.btn-default{
	background-color: #c2c2c2;
    border-color: #c2c2c2;
    color: #FFFFFF;
}
	.btn-default.btn-outline {
		color: #1ab394;
		border: 1px solid #c2c2c2;
	}
	.btn-default:hover{
		background-color: #bababa;
		border-color: #bababa;
		color: #FFFFFF;
	}

.btn-primary{
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}
	.btn-primary.btn-outline {
	    color: #1ab394;
	    border: 1px solid #1ab394;
	}
	.btn-primary:hover{
		background-color: #18a689;
    	border-color: #18a689;
    	color: #FFFFFF;
	}
.btn-success{
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #FFFFFF;
}
	.btn-success.btn-outline {
	    color: #1c84c6;
	    border: 1px solid #1c84c6;
	}
	.btn-success:hover{
		background-color: #1a7bb9;
		border-color: #1a7bb9;
    	color: #FFFFFF;
	}
.btn-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF;
}
	.btn-info.btn-outline {
	    color: #23c6c8;
	    border: 1px solid #23c6c8;
	}	
	.btn-info:hover{
		background-color: #21b9bb;
	    border-color: #21b9bb;
	    color: #FFFFFF;
	}
.btn-warning{
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFFFFF;
}
	.btn-warning.btn-outline {
	    color: #f8ac59;
	    border: 1px solid #f8ac59;
	}
	.btn-warning:hover{
		background-color: #f7a54a;
	    border-color: #f7a54a;
	    color: #FFFFFF;
	}
.btn-danger{
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFFFFF;
}
	.btn-danger.btn-outline {
	    color: #ed5565;
	    border: 1px solid #ed5565;
	}
	.btn-danger:hover{
		background-color: #ec4758;
	    border-color: #ec4758;
    	color: #FFFFFF;
	}
.btn-lg{
	font-size: 18px;
	padding: 10px 16px;
}
.btn-sm{
	font-size: 12px;
	padding: 5px 10px;
}
.btn-xs{
	font-size: 12px;
	padding: 1px 5px;
}

.btn-outline{
	color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.btn-rounded{
	border-radius: 50px;
}

.disable{
	opacity: 0.3;
	cursor: default !important;
}

.fullWidth{
	width: 100%;
}