.bt{
	border-radius: 3px;
	border: none;
	padding: 6px 12px;
	font-size: 14px;
}

.bt-default{
	background-color: #c2c2c2;
    border-color: #c2c2c2;
    color: #FFFFFF;
}
	.bt-default.bt-outline {
		color: #1ab394;
		border: 1px solid #c2c2c2;
	}
	.bt-default:hover{
		background-color: #bababa;
		border-color: #bababa;
		color: #FFFFFF;
	}
	.bt-default.actived{
		background-color: #bababa;
		border-color: #bababa;
		color: #FFFFFF;
	}
	.bt-default.bt-3d {
		box-shadow: inset 0px 0px 0px #b3b3b3, 0px 5px 0px 0px #b3b3b3, 0px 10px 5px #999999;
	}

.bt-primary{
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}
	.bt-primary.bt-outline {
	    color: #1ab394;
	    border: 1px solid #1ab394;
	}
	.bt-primary:hover{
		background-color: #18a689;
    	border-color: #18a689;
    	color: #FFFFFF;
	}
	.bt-primary.actived{
		background-color: #18a689;
		border-color: #18a689;
		color: #FFFFFF;
	}
	.bt-primary.bt-3d {
		box-shadow: inset 0px 0px 0px #16987e, 0px 5px 0px 0px #16987e, 0px 10px 5px #999999;
	}
.bt-success{
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #FFFFFF;
}
	.bt-success.bt-outline {
	    color: #1c84c6;
	    border: 1px solid #1c84c6;
	}
	.bt-success:hover{
		background-color: #1a7bb9;
		border-color: #1a7bb9;
    	color: #FFFFFF;
	}
	.bt-success.actived{
		background-color: #1a7bb9;
		border-color: #1a7bb9;
		color: #FFFFFF;
	}
	.bt-success.bt-3d {
		box-shadow: inset 0px 0px 0px #1872ab, 0px 5px 0px 0px #1872ab, 0px 10px 5px #999999;
	}

.bt-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF;
}
	.bt-info.bt-outline {
	    color: #23c6c8;
	    border: 1px solid #23c6c8;
	}	
	.bt-info:hover{
		background-color: #21b9bb;
	    border-color: #21b9bb;
	    color: #FFFFFF;
	}
	.bt-info.actived{
		background-color: #21b9bb;
		border-color: #21b9bb;
		color: #FFFFFF;
	}
	.bt-info.bt-outline {
		box-shadow: inset 0px 0px 0px #1eacae, 0px 5px 0px 0px #1eacae, 0px 10px 5px #999999;
	}

.bt-warning{
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFFFFF;
}
	.bt-warning.bt-outline {
	    color: #f8ac59;
	    border: 1px solid #f8ac59;
	}
	.bt-warning:hover{
		background-color: #f7a54a;
	    border-color: #f7a54a;
	    color: #FFFFFF;
	}
	.bt-warning.actived{
		background-color: #f7a54a;
		border-color: #f7a54a;
		color: #FFFFFF;
	}
	.bt-warning.bt-3d {
		box-shadow: inset 0px 0px 0px #f79d3c, 0px 5px 0px 0px #f79d3c, 0px 10px 5px #999999;
	}

.bt-danger{
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFFFFF;
}
	.bt-danger.bt-outline {
	    color: #ed5565;
	    border: 1px solid #ed5565;
	}
	.bt-danger:hover{
		background-color: #ec4758;
	    border-color: #ec4758;
    	color: #FFFFFF;
	}
	.bt-danger.actived{
		background-color: #ec4758;
		border-color: #ec4758;
		color: #FFFFFF;
	}
	.bt-danger.bt-3d {
		box-shadow: inset 0px 0px 0px #ea394c, 0px 5px 0px 0px #ea394c, 0px 10px 5px #999999;
	}

.bt-lg{
	font-size: 18px;
	padding: 10px 16px;
}
.bt-sm{
	font-size: 12px;
	padding: 5px 10px;
}
.bt-xs{
	font-size: 12px;
	padding: 1px 5px;
}

.bt-outline{
	color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.bt-rounded{
	border-radius: 50px;
}

.disabled{
	opacity: 0.3;
	cursor: default !important;
}

.fullWidth{
	width: 100%;
}

.shadow{
	box-shadow: 0px 5px 5px #999999 !important;
}