.back{
	text-decoration: none;
	color: #999c9e;
    font-weight: bold;
}
.back i{
    margin-right: 5px;
}
.back:hover{
	color: #5b5b5b;
}
.detail-activity{
	display: flex;
	border: solid 1px #52C5BF;
	border-radius: 0 0 5px 5px;
	padding: 5px 30px;
}
.detail-activity p{
	margin: 0;
}

.title-detail{
	background: #52C5BF;
	color: white;
	font-weight: bold;
	padding: 5px 20px;
	border-radius: 5px 5px 0 0;
	margin-top: 10px;
}