.header-news-admin{
	display: flex;
	justify-content: flex-end !important;
    padding: 14px 15px 7px;
    -webkit-justify-content: space-between;
}

.news-status-public{
    color: green;
}

.news-status-private{
    color: red;
}