.dropdown{
    background-color: #2f4050;
    border: none;
    color: white;
    padding: 5px 10px;
}
.menu-button.active{
    border-left: 4px solid #19aa8d;
    background: #293846;
    font-weight: 500;
}

.menu-button.active a{
    color: white;
}

.mb_link:hover{
    background-color: #293846;
    color: white;
    font-weight: 600;
}

.mb_link{
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
    display: block;
}

a:hover{
  text-decoration: none;
}

li{
    list-style: none;
}

.mb_icon{
    margin-right: 6px;
}

.img-circle{
    border-radius: 50%;
    width: 40%;
    max-width: 100px;
}

.center{
    display: flex;
    margin: 40px auto 10px auto;
}

.mb-avt{
    position: relative;
    width: 50%;
}
.focus_lb{
    border-right: 5px solid #1ABB9C;
    background: #293846;
}
.focus_lb a{
    color: white !important;
    font-weight: 600;
}
.focus_lb a:focus{
    color: white !important;
    font-weight: 600;
}

.avt{
    width: 80px;
    height: 80px;
}