.menu-student{
   
    min-height: 80vh;
    background-color: #2680EB;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* padding-top: 120px; */
}

.menu-student-avatar{
    width: 100px;
    height: 100px;
   
    margin-left: auto;
    margin-right: auto;
}

.menu-student-header{
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20px; */
}

.student-dashboard{
   
}
.menu-student-content{
    /* margin-top: 45px; */
}

.menu-student-style{
    border: none !important;
    background-color: #2680EB !important;
    color: #ffffff !important;
}

.menu-student-style:active{
    background-color: #ffffff !important;
    color: #2680EB !important;
}

.tab-panel-content{
    height: 80vh;
    background-color: #ffffff;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.51);
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.51);
}
.menu-student-style:hover{
    background-color: #ffffff !important;
    color: #2680EB !important;
}


.menu-student-name{
    margin-top: 20px;
    font-size: 25px;
}