.menu-student{
   
    min-height: 85vh;
    background-color:#293846 ;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* padding-top: 120px; */
}

.menu-student-avatar{
    width: 100px;
    height: 100px;
   
    margin-left: auto;
    margin-right: auto;
}

.menu-student-header{
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20px; */
}

.student-dashboard{
   overflow: hidden;
}
.menu-student-content{
    font-size: 2.5vh;
   
}

.menu-student-style{
    border: none !important;
    background-color: transparent;
    color: #ffffff !important;
}

.menu-student-style:visited{
    background-color: #2668A1 !important;
    color: white !important;
}


.menu-student-style:focus{
    background-color: #2668A1 !important;
    color: white !important;
}

.tab-panel-content{
    height: 85vh;
    background-color: #ffffff;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.51);
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.51);
}
.menu-student-style:hover{
    background-color: #2668A1;
}

.menu-student-name{
    margin-top: 20px;
    font-size: 25px;
}