.choose-room{
    margin-right: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;
    border: none
}

.normal-room{
    /* /background-color:  */
}

.normal-room:hover{
    background-color: #0c846b8f;
    color: #ffffff;
}

.vip-room{
    background-color: #ed5565;
    color: #ffffff !important;
    border: #ffffff !important
}

.normal-room:active{
    background-color: #0c846b8f !important;
    color: #ffffff;
}

.normal-room:focus{
    background-color: #0c846b8f !important;
    color: #ffffff;
}


.vip-room:hover{
    background-color: #ec4758
}
.vip-room:active{
    background-color: #ec4758 !important
}

.vip-room:focus{
    background-color: #ec4758 !important
}

.header-card-room{
    margin: 10px;
    text-align: center;
}