.id-avt{
}

.id-avt img{
    width: 100%;
}

.id-back{
    margin-bottom: 15px;
}

.id-back a{
    text-decoration: none;
    color: #999c9e;
    font-weight: bold;
}

.id-back i{
    margin-right: 5px;
}

.isc-footer-btn{
    display: flex;
    justify-content: center;
}

.react-datepicker-wrapper{
    width: 100%;
}

.react-datepicker__input-container{
    width: 100%;
}