
.is-manipulation{
    margin-bottom: 8px;
}

.is-manipulation button{
    width: 60px;
    margin-right: 5px;
}

.is-header{
    border-bottom: 1px solid #ddd;
}

.is-body{
    margin-top: 15px;
}



.is-pagination{
    float: right;
}

.is-btnSearch{
    margin-top: 29px;
}

.page-input{
    display: flex;
    align-items: center;
}
