.m-10{
    margin: 10px
}

.m-20{
    margin: 20px
}
.m-b-0{
    margin-bottom: 0!important;
}
.m-b-10{
    margin-bottom: 10px;
}

.p-10{
    padding: 10px;
}

.m-t-60{
    margin-top: 60px;
}
.p-t-10{
    padding-top: 10px;
}
.float-right{
    float: right;
}
.block{
    display: block;
}
.flex{
    display: flex;
}
.flex-middle{
    display: flex;
    align-items: center;
}
.content-body{
    margin-top: 30px;
    background-color: #ffffff;
    border-color: #e7eaec;
    -webkit-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0 0;
    padding: 14px 15px 7px;
}
body{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #293846;
}
.text-right{
    text-align: right;
}
.link{
    color: #007bff;
    cursor: pointer;
}
.link:hover{
    color: #0056b3;
    text-decoration: underline;
}
.label-font{
    font-weight: 500;
    font-size: 0.8em;
}
select:disabled {
    background: #eee
}
input:disabled {
    background: #eee
}

.title-table{
    background: #778899;
    color: white;
    text-align: center
}

.css-1u3n887{
    box-shadow: 0 0 0 1px transparent !important;
}

.pagination-position{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.display-inline{
    display: inline;
}
.check-mark-fix{
    top: -0.5em;
}

.padding-menu{
    padding: 5%
}

.messDanger{
    color: red;
    font-weight: bold;
}
.info-student-tab-btn{
    margin-right: 2px;
    color: #778899 !important;
}

.info-student-tab-btn:hover{
    background-color: #778899;
    border-color: #778899;
    color: white !important;
}

.info-student-tab-btn.actived{
    background-color: #778899;
    border-color: #778899;
    color: white !important;
}

.bold{
    font-weight: bold;
}

.bg-success-color{
    background-color: #1c84c6;
}

.bg-primary-color{
    background-color: #1ab394;
}

.bg-warning-color{
    background-color: #f8ac59;
}

.success-color{
    color: #1c84c6;
}

.danger-color{
    color: #ed5565;
}

.warning-color{
    color: #f8ac59;
}