.m-10{
    margin: 10px
}

.m-20{
    margin: 20px
}
.m-b-0{
    margin-bottom: 0!important;
}
.m-b-10{
    margin-bottom: 10px;
}

.p-10{
    padding: 10px;
}

.m-t-60{
    margin-top: 60px;
}

.float-right{
    float: right;
}
.flex{
    display: flex;
}
.content-body{
    margin-top: 30px;
    background-color: #ffffff;
    border-color: #e7eaec;
    -webkit-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0 0;
    padding: 14px 15px 7px;
}
body{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.text-right{
    text-align: right;
}
.link{
    color: #007bff;
    cursor: pointer;
}
.link:hover{
    color: #0056b3;
    text-decoration: underline;
}
.label-font{
    font-weight: 500;
}
select:disabled {
    background: #eee
}
input:disabled {
    background: #eee
}

.title-table{
    background: #778899;
    color: white;
    text-align: center
}

.css-1u3n887{
    box-shadow: 0 0 0 1px transparent !important;
}

.pagination-position{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}